.wrapper {
  padding: 37px 0px 20px 0px;
  background-color: #232323;
  width: auto;
}

.h1 {
  color: #ffffff;
}

.topContainer {
  /* This will need to be taken out */
  padding: 50px;
  background-color: aqua;
  /* This will need to be taken out */
  width: auto;
}

.topRow {
  /* This will need to be taken out */
  padding: 50px;
  background-color: #ff0000;
  /* This will need to be taken out */
}
